<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/card.css">
    <title>Stilesz Card</title>
</head>
<body>
    
    <button id="open-card" class="enter-btn">
        <div class="shimmer"></div>
    </button>
    <div id="card-1" class="card close">
        <div class="banner">
            <div class="util-btn">
                <button id="back-1" class="back"></button>
                <button id="switch-1" class="switch"></button>
            </div>
        </div>
        <div class="icon">
            <img src="../assets/Icon.gif" class="pfp">
        </div>
        <div class="social">
            <div id="instagram" class="rede"></div>
            <div id="github" class="rede"></div>
            <div id="discord" class="rede"></div>
            <div id="steam" class="rede"></div>
            <div id="spotify" class="rede"></div>
            <div id="tiktok" class="rede"></div>
            <div id="9bloods" class="rede"></div>
        </div>
        <div class="sobremim"></div>
    </div>

    <div id="card-2" class="card close">
        <div class="util-btn" style="background-color: #070709;">
            <button id="back-2" class="back"></button>
            <button id="switch-2" class="switch"></button>
        </div>
        <div id="badges" class="badges">
            <div id="emblem-1" class="emblem"></div>
            <div id="emblem-1" class="emblem"></div>
            <div id="emblem-1" class="emblem"></div>
            <div id="emblem-1" class="emblem"></div>
            <div id="emblem-1" class="emblem"></div>
            <div id="emblem-1" class="emblem"></div>
            <div id="emblem-1" class="emblem"></div>
        </div>
        <div class="games">
            <div id="game-1" class="capes"></div>
            <div id="game-2" class="capes"></div>
            <div id="game-3" class="capes"></div>
            <div id="game-4" class="capes"></div>
            <div id="game-5" class="capes"></div>
            <div id="game-6" class="capes"></div>
            <div id="game-7" class="capes"></div>
            <div id="game-8" class="capes"></div>
            <div id="game-9" class="capes"></div>
            <div id="game-10" class="capes"></div>
        </div>
        <div class="friends">
            <div id="best-1" class="best"></div>
            <div id="best-2" class="best"></div>
            <div id="best-3" class="best"></div>
            <div id="best-4" class="best"></div>
            <div id="best-5" class="best"></div>
        </div>
        <div class="container"></div>
    </div>

    <script src="../utils/card.js"></script>
</body>
</html>